.topnav {
  width: 100%;
  height: 50px;
  background-color: rgb(250, 250, 255);
  z-index: 999;
  opacity: 0.9;
  position: sticky;
  top: 0;
}

.topnavWrapper {
  height: 100%;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  color: rgb(49, 41, 209);
}

.logoLink {
  text-decoration: none;
}

.logoLink:visited {
  color: inherit;
}

.topRight {
  display: flex;
  align-items: center;
}

.topBarIconContainer {
  position: relative;
  margin-right: 10px;
  color: rgb(98, 98, 98);
}

.topnavIcon {
  /* materialui size bypass */
  font-size: 30px !important;
  cursor: pointer;
}

.topAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.topnavIconContainer:hover {
  background-color: rgb(217, 233, 250);
}
