.employee {
  flex: 6;
  padding: 20px;
}

.employeeTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.employeeAddButton {
  width: 100px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(86, 86, 86);
  font-size: 16px;
  font-weight: 600;
}

.employeeAddButton:hover {
  background-color: rgb(217, 233, 250);
}

.employeeContainer {
  display: flex;
  margin-top: 25px;
}

.employeeShow {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.employeeUpdate {
  flex: 2;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-left: 20px;
}

.employeeShowTop {
  display: flex;
  align-items: center;
}

.employeeShowImg {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.employeeShowTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.employeeShowUsername {
  font-size: 20px;
  font-weight: 600;
}

.employeeShowUserProfession {
  font-weight: 300;
}

.employeeShowBottom {
  margin-top: 20px;
}

.employeeShowBotTitle {
  font-size: 15px;
  font-weight: 600;
  color: rgb(86, 86, 86);
}

.employeeShowInfo {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  color: rgb(24, 26, 24);
}

.employeeShowIcon {
  font-size: 30px !important;
}
