.employeeList {
  flex: 8;
}

.employeeListProfile {
  display: flex;
  align-items: center;
}

.employeeListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.employeeListEditBtn {
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  background-color: rgb(250, 250, 255);
  color: rgb(86, 86, 86);
  margin-right: 15px;
}

.employeeListEditBtn:hover {
  background-color: rgb(217, 233, 250);
}

.employeeListDeleteBtn {
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  background-color: rgb(250, 250, 255);
  color: rgb(86, 86, 86);
  margin-right: 15px;
}

.employeeListDeleteBtn:hover {
  background-color: rgb(250, 150, 150);
}
