.sidebar {
  flex: 1;
  /* to prevent overflow into header */
  height: calc(100vh - 50px);
  position: sticky;
  top: 50px;
  background-color: rgb(250, 250, 255);
}

.sidebarWrapper {
  padding: 20px;
  color: rgb(98, 98, 98);
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 20px;
  color: rgb(86, 86, 86);
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListIcons {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListIcons.active,
.sidebarListIcons:hover {
  background-color: aliceblue;
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 50px !important;
}
