.container {
  display: flex;
}

.link {
  text-decoration: none;
  color: inherit;
}

.loader {
  flex: 8;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: auto;
  width: 50%;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
