.newEmployee {
  flex: 8;
}

.newEmployeeForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 400px;
}

.newEmployeeItem {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.newEmployeeItem > label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
  color: rgb(86, 86, 86);
}

.newEmployeeItem > input {
  height: 40px;
  border: 1px solid rgb(86, 86, 86);
  border-radius: 5px;
  padding: 10px;
}

.newEmployeeItem > select {
  height: 40px;
  border: 1px solid rgb(86, 86, 86);
  border-radius: 5px;
  padding: 10px;
}

.newEmployeeBtn {
  width: 200px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  color: rgb(86, 86, 86);
  font-size: 16px;
  font-weight: 600;
  margin-top: 30px;
}

.newEmployeeBtn:hover {
  background-color: rgb(217, 233, 250);
}
